<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.tiny.cloud/1/1ny43ox7c22l2d24gruq029t9x8848uf8a3by7djzv17lur4/tinymce/6/tinymce.min.js"
            referrerpolicy="origin"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Blog o programiranju</title>

    <style>
            .bg {
            background-image: url({{ url_for ('static', filename = './bg/background-main.png') }});
            background-attachment: fixed;
            z-index: -1;
            }

            .shadow-random {
            box-shadow: 0px 28px 18px 0px rgba(0,0,0,0.1)
            }

            .sticky-top {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 1020;
            }

    </style>
</head>
<body class="bg my-0 my-sm-5">
<div class="container bg-dark-white border-dark border-top border-end border-start shadow-lg ">
    <!-- Socialna omrežja in Isklanje desno -->
    <div class="container p-3">
        <nav class="navbar navbar-light">

            <div>
                <a href="https://danilojezernik.com/" target="_blank" class="text-decoration-none">
                    <img class="pe-3" src="https://img.icons8.com/dotty/20/domain.png" alt="danilojezernik.com"/>
                </a>

                <img class="pe-3" src="https://img.icons8.com/ios/20/facebook-new.png" alt="facebook-new"/>
                <img class="pe-3" src="https://img.icons8.com/ios/20/instagram-new--v1.png" alt="instagram-new--v1"/>
                <img class="pe-3" src="https://img.icons8.com/ios/20/linkedin.png" alt="linkedin"/>
            </div>

            <div class="d-flex">
                <a class="btn btn-outline-dark rounded-0" data-bs-toggle="modal"
                   data-bs-target="#searchModal">Iskanje
                </a>
                <!-- Modal Search -->
                <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-dark-white">
                            <div class="modal-header text-center">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body p-5">
                                <form role="form" action="/search" method="POST">
                                    <div class="input-group mb-3">
                                        <input class="form-control bg-transparent border-0 border-bottom border-secondary rounded-0 text-center p-3 fs-3"
                                               type="search" placeholder="Kaj iščete?" aria-label="Search"
                                               name="search">
                                        <button type="submit" class="btn btn-dark rounded-0 btn-lg"
                                                data-bs-dismiss="modal">
                                            Najdi
                                        </button>
                                    </div>
                                </form>

                            </div>
                            <div class="modal-footer">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- KONEC -->

    <!-- Napis glavni -->
    <div class="container py-4 text-center">
        <h1>Blog o programiranju</h1>
        <p class="lead text-secondary">FullStack software development</p>
    </div>
    <!-- KONEC -->
</div>
<div class="container border-start border-end border-dark shadow-random sticky-top bg-dark">
    <!-- Navbar -->
    <div class="container py-3">
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid d-flex justify-content-center text-center">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <ul class="navbar-nav justify-content-center text-decoration-none text-uppercase fs-5">
                            <li class="nav-item">
                                <a class="nav-link text-white" aria-current="page" href="/">Domov</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/avtor">Avtor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/arhiv">Arhiv</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/login">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- KONEC -->
</div>
