{% include '_header.html' %}

<h1 class="my-5 text-center">Admin Dashboard</h1>
<div class="container bg-dark-white shadow my-5 p-3">
    <form method="POST" action="/admin" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <label class="form-label">Naslov</label>
                <input type="text" class="form-control" name="naslov">
            </div>
            <div class="col">
                <label class="form-label">Podnaslov</label>
                <input type="text" class="form-control" name="podnaslov">
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Opis</label>
            <input type="text" class="form-control" name="opis" maxlength="100">
        </div>
        <div class="mb-3">
            <label class="form-label">Vsebina</label>
            <textarea class="form-control" rows="3" name="vsebina" style="width: 100%; height: 400px;"></textarea>
        </div>
        <div class="input-group mb-3">
            <input type="file" class="form-control" name="image">
        </div>
        <button type="submit" class="btn btn-primary" value="POST">Objavi</button>
    </form>
</div>

{% include '_footer.html' %}