{% include '_header.html' %}

<div class="container border-dark border-end border-start bg-dark-white shadow p-3">
    <h1 class="text-center py-5">
        <strong>
            Arhiv
        </strong>
    </h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for objava in arhiv_objave %}
        <div class="col ">
            <a href="/blog/{{objava._id}}" class="text-decoration-none">
                <div class="card shadow border-dark rounded-0 h-100">

                    <div class="card-body text-dark">
                        <h5 class="card-title text-dark">
                            <b>
                                {{ objava.naslov }}
                            </b>
                        </h5>
                        <p class="card-text">
                            {{ objava.vsebina[:400] |safe + '...' if objava.vsebina|length > 400 else
                                    objava.vsebina |safe }}
                        </p>
                    </div>
                    <div class="card-header border-top text-secondary text-decoration-none">
                        Objavleno:
                        <i>
                            {{ objava.ustvarjeno.strftime("%d/%m/%Y - %H:%M:%S") }}
                        </i>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% include '_footer.html' %}