{% include '_header.html' %}

<h1 class="py-5 text-center"><b>AVTOR</b></h1>

<div class="container text-center" style="max-width: 400px">
    <div class="card bg-dark-white shadow m-auto p-auto">
        <div class="card-body">
            <img src="./static/avtor/djdeveloper_index.png" class="img-fluid" alt="">
            <div class="d-grid gap-2 mt-3">
                <a href="https://danilojezernik.com/" class="btn btn-success" type="button" target="_blank">danilojezernik.com
                    ►►</a>
            </div>
        </div>
    </div>
</div>


{% include '_footer.html' %}