{% include '_header.html' %}
<div class="container bg-dark-white shadow p-3">
    <h1 class="py-5 text-center"><b>Avtor</b></h1>


    <div class="row p-4">

        <div class="col-md-4">
            <div class="card bg-dark-white shadow">
                <div class="card-body p-0">
                    <img src="./static/avtor/comp.jpg" class="img-fluid" alt="">
                    <div class="d-grid gap-2">
                        <button onclick="YesNoConfirm()" class="btn btn-outline-dark rounded-0" type="button"
                           >danilojezernik.com
                            ►►</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8"></div>

    </div>


</div>


{% include '_footer.html' %}