{% include '_header.html' %}

<div class="container border-dark border-end border-start bg-dark-white shadow p-3">
    <section class="text-center container">
        <div class="row py-lg-5 border-bottom">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light fw-bold">
                    Danilo Jezernik
                </h1>
                <img src="./static/avtor/comp.png" class="img-fluid my-3 shadow" alt="">
                <p class="lead text-muted">
                    Kot razvijalec programske opreme imate edinstveno sposobnost spreminjanja zapletenih problemov v
                    elegantne rešitve s svojim obvladovanjem jezikov kodiranja in predanostjo nenehnemu učenju.
                </p>
                <p>
                    <a href="https://danilojezernik.com/" class="btn btn-outline-dark rounded-0 my-2 px-5 shadow"
                       target="_blank">
                        DaniloJezernik.com
                    </a>
                </p>
            </div>
        </div>
    </section>
</div>

{% include '_footer.html' %}