{% include '_header.html' %}


<div class="container p-3 border-dark border-end border-start bg-white shadow">
    <div class="pt-5">
        <h1 class="fw-bold">{{ objava.naslov }}</h1>
        <p>
            <small><i>Objavljen: {{ objava.ustvarjeno.strftime("%d/%m/%Y - %H:%M:%S") }}</i></small>
        </p>
    </div>

    <p>{{ objava.vsebina |safe }}</p>

    <div class="d-grid gap-2  col-6 mx-auto">
        <button onclick="history.back()" class="btn my-4 btn-outline-dark" type="button">Nazaj na prejšnjo stran
        </button>
    </div>
</div>


{% include '_footer.html' %}