{% include '_header.html' %}


<div class="container border-dark border-end border-start bg-dark-white shadow p-3">

    <h1 class="text-center fw-bold py-5">{{ objava.naslov }}</h1>
    <div class="text-center">
        <img src="{{ url_for('static', filename='blog/' ~ objava.image_filename) }}" class="img-fluid"
             style="max-width:300px;max-height:300px;background-color: transparent;" alt="{{ objava.naslov }}">
    </div>
    <h2>{{ objava.podnaslov }}</h2>
    <p>{{ objava.vsebina |safe }}</p>
    <p>{{ objava.ustvarjeno }}</p>
    <button onclick="history.back()" class="btn btn-primary btn-sm">Nazaj</button>
</div>



{% include '_footer.html' %}