{% include '_header.html' %}

<div class="container bg-dark-white border-dark border-end border-start shadow p-3">
    <section class="py-5 text-center container">
        <div class="row py-lg-5 border-bottom">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light fw-bold">
                    Blog o FullStack programiranju
                </h1>
                <p class="lead text-muted">
                    HTML, CSS, SCSS, Photoshop, Figma, Animacije, JavaScript, Vue.js, React, Angular, Node.js, Sequelize
                    Python, Flask, Django, Socket.io, Postman, MongoDB, Git, GitHub,...
                </p>
                <p>
                    <a href="/blog" class="btn btn-dark rounded-0 px-5 shadow">
                        Blog
                    </a>
                    <a href="https://danilojezernik.com/" class="btn btn-outline-dark rounded-0 my-2 shadow" target="_blank">
                        Moja spletna stran
                    </a>
                </p>
            </div>
        </div>
    </section>
    <!--    <h1 class="text-center py-5 fw-bold">
            Fokus na programskih jezikih
        </h1>-->
    <div class="row p-3">
        <div class="col-md-4">
            <div class="card rounded-0 text-white shadow bg-dark mb-3">

                <div class="card-body">
                    <h3 class="card-title">
                        JavaScript
                    </h3>
                    <p class="card-text">
                        JavaScript je programski jezik na visoki ravni, ki se uporablja za ustvarjanje interaktivnih
                        spletnih strani in spletnih aplikacij, kar razvijalcem omogoča, da svojim spletnim mestom dodajo
                        dinamično funkcionalnost in interaktivnost.
                    </p>
                </div>
                <div class="card-footer border-top border-secondary">
                    DOM, Vue.js, Node.js, Express, Sequelize, Three.js,...
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded-0 text-white shadow bg-dark mb-3">
                <div class="card-body">
                    <h3 class="card-title">
                        Python
                    </h3>
                    <p class="card-text">
                        Python je visokonivojski programski jezik za splošne namene, ki poudarja berljivost in
                        preprostost kode ter se lahko uporablja za široko paleto aplikacij od spletnega razvoja do
                        znanstvenega računalništva.
                    </p>
                </div>
                <div class="card-footer border-top border-secondary">
                    Flask, Django, OOP, PyMongo, PyCharm, WebScraping,...
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded-0 text-white shadow bg-dark mb-3">
                <div class="card-body">
                    <h3 class="card-title">
                        Oblikovanje
                    </h3>
                    <p class="card-text">
                        CSS (Cascading Style Sheets) je slogovni jezik, ki se uporablja za opis predstavitve
                        dokumenta, napisanega v HTML ali XML, ki razvijalcem omogoča nadzor nad postavitvijo,
                        oblikovanjem in videzom spletnih strani.
                    </p>
                </div>
                <div class="card-footer border-top border-secondary">
                    Photoshop, CSS, SCSS, Figma, Bootstrap, Tailwind,...
                </div>
            </div>
        </div>
    </div>

</div>

{% include '_footer.html' %}