{% include '_header.html' %}
<div class="text-center">
    <h1 class="py-5"><b>Login</b></h1>


    <div class="card bg-dark-white shadow m-auto p-auto" style="width:300px">
        <div class="card-body">
            <form method="POST" action="/login">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control border-0 border-bottom" id="floatingInput" name="ime"
                           placeholder="name@example.com">
                    <label for="floatingInput">Uporabniško ime</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control border-0 border-bottom" id="floatingPassword" name="geslo"
                           placeholder="Password">
                    <label for="floatingPassword">Geslo</label>
                </div>
                <div class="d-grid gap-2 mt-3">
                    <button class="btn btn-success" type="submit">Vpis</button>
                </div>
            </form>
        </div>
    </div>

</div>


{% include '_footer.html' %}