{% include '_header.html' %}

<div class="container border-dark border-end border-start bg-dark-white shadow p-3">

    <div class="text-center">
        <h1 class="py-5"><b>Login</b></h1>


        <div class="card bg-dark-white border-dark rounded-0 shadow m-auto p-auto mb-5" style="width:300px">
            <div class="card-body">
                <form method="POST" action="/login">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control border-0 rounded-0 border-bottom" id="floatingInput"
                               name="ime"
                               placeholder="danij8">
                        <label for="floatingInput">Uporabniško ime</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control rounded-0 border-0 border-bottom"
                               id="floatingPassword"
                               name="geslo"
                               placeholder="danilojezernikneja">
                        <label for="floatingPassword">Geslo</label>
                    </div>
                    <div class="form-check mt-3 text-start">
                        <input type="checkbox" class="form-check-input bg-dark" id="rememberMe" name="rememberMe">
                        <label class="form-check-label " for="rememberMe">Zapomni si me</label>
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-dark rounded-0" type="submit">Vpis</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


{% include '_footer.html' %}