@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
font-family: 'Oswald', sans-serif;
}

.modal-header {
    justify-content: center;
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
}

        .bg-dark-white {
background: radial-gradient(circle at top, #ffffff , #d1d1d1)
}