@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

.modal-header {
    justify-content: center;
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
}

.bg-dark-white {
    background: radial-gradient(circle at top, #ffffff, #d1d1d1)
}

.nav-pills .nav-link.active {
    color: #ffffff;
    background-color: #212529;
}

.nav-link {
    color: #000000;
}

.page-item.active .page-link {
    border: 0;
}